################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Tek40xx/.vs/Tek40xx/FileContentIndex/c311f6c5-ed89-4df8-92b2-7a8aca376855.vsidx
/Tek40xx/.vs/Tek40xx/FileContentIndex/5f6980c3-a9a7-4ca3-a5d6-c879b4eb538c.vsidx
/Tek40xx/.vs/Tek40xx/FileContentIndex/read.lock
